@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/fpg8rdq.css");

.menu-list {
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.menu-list:hover {
  background: #eee;
}
